h1 {

	font-weight:normal;

}

.wp,#wp {

	width:100%;

}

.deanfakeheader {

	height:61px!important;

	width:100%;

}

#toptb {

	display:none;

}

#middle_silder_title {

	width:100%;

}

#yhfl_mid_nav_ul {

	width:530px;

	margin:0px auto;

}

#suggested_server_title {

	margin-top:0px;

}

#suggested_server_info {

	margin-bottom:16px;

	padding-bottom:10px;

}

a {

	text-decoration:none;

}

li {

	list-style:none;

}

@media screen and (min-device-width:1920px) {

	#banner {

	height:790px;

	background-size:2560px 790px;

	background-repeat:no-repeat;

}

}@media screen and (max-device-width:1919px) {

	#banner {

	height:890px;

	background-size:1680px 860px;

	background-repeat:no-repeat;

}

}@media screen and (max-device-width:1440px) {

	#banner {

	height:710px;

	background-size:1440px 710px;

	background-repeat:no-repeat;

}

}@media screen and (max-device-width:1366px) {

	#banner {

	height:710px;

	background-size:1366px 578px;

	background-repeat:no-repeat;

}

}#banner {

	width:100%;

	background-image:url(../images/iecraft.png)

}

#banner_btns {

	width:435px;

	height:277px;

	position:absolute;

	right:20%;

	top:20%;

	overflow:hidden;

}

#site_logo {

	width:390px;

	height:139px;

}

#site_logo img {

	width:390px;

	height:139px;

}

#register_btn {

	background-image:url(../images/register_btn.png);

	display:block;

	width:390px;

	height:80px;

	z-index:97;

	margin-top:15px;

}

#register_btn:hover {

	background-image:url(../images/register_btn_on.png);

	transition:all ease .5s;

}



#ifV18{

	background-image:url(../images/v18.png);

	display:block;

	width:390px;

	height:80px;

	z-index:97;

	margin-top:15px;

}

#ifV18:hover {

	background-image:url(../images/v18_on.png);

	transition:all ease .5s;

}



#download_btn {

	background-image:url(../images/download_btn.png);

	display:block;

	width:390px;

	height:43px;

	z-index:98;

}

#download_btn:hover {

	background-image:url(../images/download_btn_on.png);

	transition:all ease .5s;

}

#middle_nav {

	width:1080px;

	height:125px;

	margin:0px auto;

	position:relative;

	margin-top:-60px;



}

.middle_nav_btn {

	width:330px;

	height:95px;

	float:left;

	padding:15px;

	background-image:url(../images/narrow.png);

	background-position:20px 85px;

	background-repeat:no-repeat;

	position:relative;

    overflow:hidden;

}

.middle_nav_btn p {

	line-height:29px;

	color:white;

	font-size:22px;

	font-weight:600;

}

.middle_nav_btn span {

	line-height:18px;

	color;

	font-size:15px;

	font-family:"Arial";

}

.middle_nav_btn_1 {

	background-color:#b28850;

	color:#cccc99;

}

.middle_nav_btn_2 {

	background-color:#29be0a;

	color:#b5ebaa;

}

.middle_nav_btn_3 {

	background-color:#313131;

	color:#999999;

}

.middle_nav_btn_4 {

    margin-left: 720px;

    margin-top: -250px;

	background-color:#30A3F3;

	color:#999999;

    cursor: pointer;

}

.middle_nav_btn_4 span{

    color: #C6E3F7;

}

.middle_nav_btn_1:hover {

	background-color:#cc9900;

	transition:all ease .5s;

	cursor:pointer;

}

.middle_nav_btn_2:hover {

	background-color:#33cc00;

	transition:all ease .5s;

	cursor:pointer;

}

.middle_nav_btn_3:hover {

	background-color:#434343;

	transition:all ease .5s;

	cursor:pointer;

}

.middle_nav_btn:hover {

	background-position:30px 85px;

	transition:all ease .5s;

}

.middle_nav_btn:hover .middle_nav_icon {

	transform:scale(0.9);

	transition:all ease .5s;

}

.middle_nav_icon {

	float:right;

	height:134px;

	width:110px;

	top:0px;

	right:0px;

	position:absolute;

}

.middle_nav_icon_1 {

	background-image:url(../images/middle_nav_btn_1.png);

}

.middle_nav_icon_2 {

	background-image:url(../images/middle_nav_btn_2.png);

}

.middle_nav_icon_3 {

	background-image:url(../images/middle_nav_btn_3.png);

}

.middle_nav_icon_4 {

	background-image:url(../images/middle_nav_btn_4.png);

}

#server_introduction {

	width:1080px;

	height:350px;

	margin:0px auto;

}



#server_introduction h1 {

	display:inline;

	text-align:center;

	color:#a6a6a6;

	font-weight:500;

	font-size:22px;

	padding:5px;

	margin-top:50px;

	padding:0px;

}

.logo_fangkuaiyun{

    width: 200px;

    position: absolute;

    margin-top: -250px;

    margin-left: 200px;

}

#server_introduction span:first-child {

	display:block;

	text-align:center;

	color:#a6a6a6;

	font-weight:500;

	font-size:22px;

	padding:5px;

	margin-top:50px;

}

#server_introduction span:first-child+span {

	display:block;

	text-align:center;

	color:#a6a6a6;

	font-size:14px;

	margin:0px auto;

	margin-bottom:15px;

}

#server_introduction ul {

	overflow:hidden;

}

#server_introduction ul li {

	border:1px solid #efefef;

	border-right:0px;

	float:left;

	height:206px;

	width:159px;

	padding:20px 10px 20px 10px;

	text-align:center;

}

#server_introduction ul li:first-child {

	border-left:0px;

}

#server_introduction ul li:hover {

	padding-top:5px;

	padding-bottom:0px;

	background-color:#3366cc;

	cursor:pointer;

	height:241px;

}

#server_introduction ul li:hover img2 {

	display:none;

}

#server_introduction ul li:hover p {

	margin-top:2px;

	color:#ffffff;

	margin-bottom:2px;

	position:relative;

}

#server_introduction ul li:hover span {

	color:#ffffff;

	height:15em;

	line-height:1.2em;

	font-size:12px;

	transition:height 1s;

	text-align:left;

}

#server_introduction ul li p {

	font-size:16px;

	color:#3366cc;

	font-weight:600;

	margin-top:5px;

}

#server_introduction ul li span {

	font-size:14px;

	color:#666666;

	overflow:hidden;

	display:block;

	width:100%;

	height:1em;

	line-height:1em;

}

#server_info_bg img {

	position:absolute;

	right:35px;

	top:39px;

}

#server_info_bg {

	width:1038px;

	height:350px;

	padding:20px 5px 20px 35px;

	margin:0px auto;

	margin-top:35px;

	margin-bottom:55px;

	background-color:#ffffff;

	position:relative;

	border:1px solid #efefef;

	background-color:#fcfcfc;

}

#Eng_Name {

	font-size:20px;

	color:#888888;

	letter-spacing:1px

}

#Server_Name {

	font-size:39px;

	color:#3366cc;

}

#IP_address {

	margin-top:6px;

	font-size:16px;

}

.IPBB {

	margin-left:25px;

	color:#666666;

}

#Introduction {

	font-size:14px;

	color:#666666;

	width:620px;

	margin-left:25px;

	margin-top:8px;

}

#server_info_bg ul li {

	border-left:1px solid #666666;

	width:130px;

	float:left;

	margin:25px;

	padding-left:15px;

	text-align:center;

}

#server_info_bg ul li a {

	display:block;

	line-height:30px;

	font-size:14px;

}

#server_info_bg ul li a:hover {

	color:#3366cc;

	font-weight:600;

	cursor:pointer;

}

.deanpubtitle {

	width:100%;

	padding:38px 0 7px;

}

.deanpubtop {

	margin-top:39px;

	height:35px;

	line-height:30px;

	font-size:22px;

	font-weight:normal;

	text-align:center;

	color:#999;

}

.deanpubbottom {

	width:100%;

	line-height:22px;

	font-size:14px;

	color:#a6a6a6;

	text-align:center;

	padding-bottom:57px;

}

.deandeanflist {

	width:1180px;

	overflow:hidden;

	margin:0 auto;

}

.deandeanflist ul {

	width:1300px;

}

.deandeanflist ul li {

	float:left;

	margin-right:56px;

	width:188px;

}

.deandeanflist ul li div.icon {

	display:block;

	width:103px;

	height:102px;

	margin:0 auto;

	background:url(../images/sy_icons.png) 0 0 no-repeat;

}

.deandeanflist ul li h4 {

	height:36px;

	line-height:36px;

	text-align:center;

	padding-top:21px;

	font-size:18px;

	color:#4c4c4c;

	font-weight:normal;

}

.deandeanflist ul li p {

	line-height:24px;

	font-size:14px;

	color:#808080;

	padding-bottom:24px;

	text-align:center;

}

.deandeanflist ul li p a.deanlinks {

	display:block;

	width:77px;

	height:32px;

	line-height:32px;

	text-align:center;

	font-size:14px;

	color:#26b77b;

	margin:20px auto;

	border:1px solid #26b77b;

	border-radius:3px;

}

.deandeanflist ul li p a.deanlinks:hover {

	background:#26b77b;

	color:#fff;

}

.deandeanflist ul li.deanli2 div.icon {

	background-position:0 -411px;

}

.deandeanflist ul li.deanli3 div.icon {

	background-position:0 -548px;

}

.deandeanflist ul li.deanli4 div.icon {

	background-position:0 -274px;

}

.deandeanflist ul li.deanli5 div.icon {

	background-position:0 -137px;

}

.deanproducts {

	width:100%;

	background:#fafafa;

	min-width:1180px;

	padding-top:5px;

}

.deanptop {

	width:350px;

	margin:0 auto;

	height:30px;

	overflow:hidden;

}

.deanptop ul {

	width:350px;

}

.deanptop ul li {

	float:left;

	padding:0 20px;

	height:30px;

	line-height:30px;

	text-align:center;

	font-size:16px;

	border-radius:3px;

	color:#666;

	cursor:pointer;

}

.deanptop ul li.cur {

	background:#26B77B;

	color:#fff;

}

.deanpbottom {

	margin-top:10px;

}

.deanpbottom ul {

	}

.deanpbottom ul li {

	display:none;

}

.deanpbc {

	}

.deanpbc dl {

	width:1200px;

}

.deanpbc dl dd {

	width:265px;

	height:265px;

	background:#fff;

	border:1px solid #ededed;

	border-radius:3px;

	padding:10px;

	position:relative;

	-webkit-transition:all .4s linear;

	-ms-transition:all .4s linear;

	-o-transition:all .4s linear;

	transition:all .4s linear;

	float:left;

	margin:0 10px 10px 0;

}

.deanpbc dl dd:hover {

	-webkit-transform:rotate(4deg);

	-ms-transform:rotate(4deg);

	-o-transform:rotate(4deg);

	transform:rotate(4deg);

}

.deanpbc dl dd a.deanpcimg {

	display:block;

	width:265px;

	height:265px;

}

.deanpbc dl dd a.deanpcimg img {

	width:265px;

	height:265px;

	position:absolute;

	top:10px;

	left:10px;

}

.deancpinfo {

	width:215px;

	height:80px;

	background:rgba(255,255,255,0.8);

	position:absolute;

	left:0;

	bottom:30px;

	z-index:3;

	padding:10px;

}

.deancpinfo h4 {

	line-height:18px;

	margin-bottom:7px;

	overflow:hidden;

	white-space:nowrap;

	text-overflow:ellipsis;

	font-size:16px;

	color:#333;

	font-weight:normal;

}

.deancpinfo h4:hover {

	color:#26B77B;

	text-decoration:underline;

}

.deancpinfo p {

	font-size:12px;

	color:#999;

	word-break:break-all;

	overflow:hidden;

	height:39px;

}

.deanpbinfo {

	height:20px;

	line-height:20px;

}

.deanpbil {

	width:auto;

	min-width:100px;

	float:left;

	font-size:13px;

	color:#999;

}

.deanpbil span {

	}

.deanpbil a {

	color:#333;

	font-size:12px;

}

.deanpbil a:hover {

	color:#26B77B;

	text-decoration:underline;

}

.deanpbir {

	float:right;

}

.deanpbir span {

	font-size:12px;

	color:#999;

	padding-left:20px;

	display:inline-block;

}

.deanpbir span.deanread {

	background:url(../images/see.png) left center no-repeat;

}

.deanpbir span.deanreply {

	background:url(../images/pinglun.png) left center no-repeat;

}

.deanmore {

	padding-bottom:30px;

}

.deanmore a {

	display:block;

	width:160px;

	height:35px;

	line-height:35px;

	text-align:center;

	margin:40px auto;

	color:#fff;

	background:#26B77B;

	border-radius:3px;

}

#middle_silder_bottom a {

	padding-left:5px;

	padding-right:5px;

}

.deankhjcinfo h4 {

	font-size:1.39em;

}

.deankhpj {

	width:100%;

	min-width:1180px;

	background:#fff;

}

.deankhpjc {

	padding-bottom:20px;

}

.deankhpjc ul {

	width:1200px;

}

.deankhpjc ul li {

	float:left;

	width:380px;

	margin-right:20px;

	float:left;

}

.deankhjcimg {

	width:380px;

	height:220px;

}

.deankhjcimg img {

	width:380px;

	height:220px;

}

.deankhjcinfo {

	padding:15px;

	background:#fff;

	border:1px solid #ededed;

	border-top:0;

}

.deankhjcinfo h4 {

	width:100%;

	height:30px;

	line-height:30px;

	overflow:hidden;

	margin-bottom:5px;

}

.deankhjcinfo h4 a {

	font-size:16px;

	color:#333;

	font-weight:400;

}

.deankhjcinfo h4 a:hover {

	text-decoration:underline;

}

.deankhjcinfo p {

	color:#7b7b7b;

	font-size:14px;

	line-height:22px;

	height:70px;

	overflow:hidden;

}

.deanqyxw {

	margin-top:20px;

	padding:3px 0px 20px 0px;

	background:#FFFFFF;

	min-width:1180px;

	width:100%;

}

.deanqyxwl {

	width:580px;

	margin-right:20px;

	float:left;

}

.deanqyxwr {

	width:580px;

	float:right;

}

.deanqytop {

	font-size:18px;

	height:40px;

	line-height:40px;

	position:relative;

	border-bottom:1px solid #eee;

	color:#dfb57c;

}

.deanqytop span {

	font-size:14px;

	font-weight:400;

}

.deanqytop a {

	position:absolute;

	right:12px;

	top:5px;

	font-size:12px;

	font-weight:400;

	color:#dfb57c;

}

.deanqyxwl ul {

	background:url(../images/qabg1.png) 86px 25px no-repeat;

	padding-top:20px;

}

.deanqyxwl ul li {

	height:34px;

	line-height:34px;

	overflow:hidden;

	font-size:12px;

}

.deanqyxwl ul li span {

	font-size:14px;

	padding-right:40px;

	color:#bbb;

	font-weight:400;

}

.deanqyxwl ul li a {

	color:#666;

}

.deanqyxwl ul li a:hover {

	text-decoration:underline;

}

.deanqytopr {

	color:#35dad0;

}

.deanqytopr a {

	color:#35dad0;

}

.deanqyxwr ul {

	background:url(../images/qabg2.png) 86px 25px no-repeat;

	padding-top:20px;

}

.deanqyxwr ul li {

	height:34px;

	line-height:34px;

	overflow:hidden;

	font-size:12px;

	margin:0px;

}

.deanqyxwr ul li span {

	font-size:14px;

	padding-right:40px;

	color:#bbb;

	font-weight:400;

}

.deanqyxwr ul li a {

	color:#666;

}

.deanqyxwr ul li a:hover {

	text-decoration:underline;

}

.deanclients {

	margin-bottom:20px;

}

.deanclients ul {

	}

.deanclients ul li {

	float:left;

	margin:2px;

	width:232px;

	height:140px;

	background:#fff;

	-webkit-transition:all ease 0.4s;

	-moz-transition:all ease 0.4s;

	-o-transition:all ease 0.4s;

	transition:all ease 0.4s;

	position:relative;

	z-index:1;

}

.deanclients ul li:hover {

	box-shadow:0 0 20px rgba(0,0,0,0.16);

	z-index:2;

}

.deanclients ul li a {

	display:table-cell;

	width:228px;

	height:140px;

	text-align:center;

	vertical-align:middle;

}

.deanclients ul li a img {

	width:196px;

	height:100px;

}

.deanunderline {

	width:1052px;

	height:2px;

	background:url(../images/dotted_line.png) left top no-repeat;

	margin:0 auto;

}

.deantopbar {

	height:40px;

	line-height:40px;

	overflow:hidden;

	width:1138px;

	padding:0 20px;

	margin:0 auto;

	border:1px solid #e5e5e5;

	font-size:14px;

	background:#fff;

	margin:20px 0;

}

.deantopbar p {

	font-size:14px;

	color:#777;

	padding:0 10px;

	float:left;

}

.deanrolling {

	float:left;

	width:1018px;

	height:40px;

	line-height:40px;

	overflow:hidden;

}

.deanrolling ul {

	}

.deanrolling ul li {

	float:left;

	height:40px;

	line-height:40px;

	background:url(../images/square.png) left center no-repeat;

	padding-left:15px;

	margin:0 10px;

	overflow:hidden;

}

.deanrolling ul li a {

	font-size:14px;

	color:#666;

}

.deanrolling ul li a:hover {

	color:#26B77B;

	text-decoration:underline;

}

.deanmoredetails {

	width:100%;

	height:94px;

	background:#26b77b;

	min-width:1180px;

}

.ask_con {

	width:610px;

	overflow:hidden;

	margin:0 auto;

	padding-top:27px;

}

.ask_con h3 {

	float:left;

	line-height:39px;

	font-size:20px;

	color:#ffffff;

	font-weight:normal;

	padding-right:64px;

}

.ask_con a {

	float:left;

	width:200px;

	height:39px;

	line-height:39px;

	text-align:center;

	background:#26b77b;

	border:1px solid #fff;

	font-size:18px;

	color:#FFF;

}

.money_faka{

    width: 200px;

    height: 50px;

    display: block;

    font-size: 20px;

    background: #29BE0A;

    transition: 0.5s;

    color: white;

    border-radius: 10px;

    line-height: 50px;

}

.money_faka:hover{

    background: #89D86F;

}

.money_saomiao{

    margin-top: 10px;

    width: 200px;

    height: 50px;

    display: block;

    font-size: 20px;

    background: #29BE0A;

    transition: 0.5s;

    color: white;

    border-radius: 10px;

    line-height: 50px;

}

.money_saomiao:hover{

    background: #89D86F;

}